

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #f9f9f9;
        font-weight: bold;
        overflow-x: hidden;


}

article, footer {
    padding-left: 30px;
    padding-right: 30px
}

article li {
    list-style: none;
}

header {
    background-color: black;
    color: #ffbf10;
}

#copyright {
    width: 100%;
}

.media_list {
    list-style: none;
}

#footer-separator {
    border-top: 1px solid #111;
}

.navbar-nav > li > a, .navbar-nav > li, .navbar-brand {
    padding-top:0px !important; padding-bottom:15px !important;
    height: 30px;
    color: white;
    font-size: 28px;
}
.navbar-default .navbar-nav > li > a {
    color: #888;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
}

.navbar {min-height:30px !important;
    background:black;
}

.logo {padding: 10px;}
.info {padding: 5px;}


nav {
    background-color: black;
        color: white;
}
