/* Year selection (left) */
#year-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: #ffbf10;
  border: 3px solid #ffbf10;
  border-radius: 2px;
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-right: 1.5em;
}

#year-select option {
  color: black;
}

.select-styler {
  position: relative;
}

.select-styler h3 {
  display: inline-block;
  margin-right: .5em;
}

.select-styler:after {
  content: "";
  position: absolute;
  top: .3em;
  right: .5em;
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffbf10;
}

.light-theme #year-select {
  color: black;
  border: 3px solid black;
}

.light-theme .select-styler:after {
  border-top: 10px solid black;
}

/* Main page */
.year-page {
  padding: 0;
  margin: 0;
}

.game-card {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  padding: 0;
}

.game-cover-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.game-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.25% 4%;
  box-sizing: border-box;
}

.game-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.game-cover:hover {
  box-shadow: 0 0 5px black;
  padding: 0;
}

.game-cover p {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.game-title-text {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  text-align: left;
  color: #ffbf10;
}

/* Modal */
.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000077;
}

.modal {
  position: fixed;
  left: 5vw;
  top: 5vh;
  width: 90vw;
  max-height: 90vh;
  background: #2a2a2a;
}

.linebreaks {
  white-space: pre-line;
}

.game-links {
  margin-right: .5em;
}

.overlay {
  max-width: 20%;
  opacity: .5;
  position: absolute;
  top: 35%;
}

.overlay:hover {
  opacity: 1;
}

.close-button {
  top: 5%;
  right: 3%;
  max-height: 20%;
}

.arrow-left {
  left: 2%;
}

.arrow-right {
  right: 2%;
}

.scrollable {
  margin: 1em auto;
  padding: 0 2em 0 0;
  overflow-y: auto;
}

.scrollable h1 {
  margin-top: 0;
}