@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Roboto+Condensed:300&display=swap');
/* Base element styles */

body {
  background-color: #2a2a2a;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16.8px;
  color: #ffbf10;
  margin: 0;
}

[v-cloak] {
  display: none;
}

.main {
  padding: 2rem 5% 0 5%;
}

p, ul {
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: .4em 0;
  line-height: 1.5em;
}

h1 {
  font-size: 1.8em;
}

hr {
  color: #ffbf10;
  border: none;
  height: 1px;
  background-color: #ffbf10;
}

ul {
  font-weight: normal;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: #ffbf10;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
}

/* Reusable styles */

section {
  padding: 2% 5%;
  margin-bottom: 3em;
  border: 5px solid #ffbf10;
}

.hidden {
  display: none;
}

.full-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.icon-image {
  max-width: 1em;
  max-height: 1em;
  margin-right: .5em;
}

/* material design icon styles */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons { vertical-align: text-bottom; }

.flex-row {
  display: flex;
}

.flex-row>*:first-child {
  padding-right: 20%;
}

.flex-row>* {
  align-self: center;
  box-sizing: border-box;
}

.special-links a {
  margin: 0;
  color: white;
}

/* Specific styles */

.gamedev-nav {
  text-align: right;
  margin-top: 1%;
}

#menu-button {
  display: none;
}

.gamedev-nav-links a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ef203c;
  font-family: 'Open Sans Condensed', sans-serif;
}

.gamedev-nav-links.mobile {
  display: none;
}

.theme-change {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 1em;
  margin-left: 1em;
  box-shadow: 0 0 0 2px #a2a2a2;
  box-sizing: border-box;
}

.theme-change:hover {
  box-shadow: 0 0 0 2px white;
}

.theme-change.dark {
  background: linear-gradient(to bottom right, #ffbf10 50%, #2a2a2a 50%);
}

.theme-change.light {
  background: linear-gradient(to bottom right, black 50%, white 50%);
}

.gamedev-dropdown {
  position: relative;
  padding-left: 15px;
}

/* CSS Triangles */

.gamedev-dropdown .open::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffbf10;
  position: absolute;
  top: 15px;
  left: 0;
}

.gamedev-dropdown .closed::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffbf10;
  position: absolute;
  top: 10px;
  left: 0;
}

/* Animation for mobile navigation */

.appear-enter-active {
  transition: opacity .5s;
}

.appear-enter {
  opacity: 0;
}

.appear-enter-move {
  transition: transform 1s;
}

/* theme colors */

.light-theme {
  color: black;
  background-color: white;
}

.light-theme section {
  border-color: black;
}

.light-theme a {
  color: black;
  font-weight: bold;
}

.light-theme .gamedev-nav-links a {
  color: #a2a2a2;
}

.light-theme button {
  color: black;
}

.light-theme footer {
  background-color: #aaaaaa;
}

.light-theme footer hr {
  color: transparent;
  background-color: transparent;
}

.light-theme .gamedev-dropdown .open::before {
  border-top: 10px solid black;
}

.light-theme .gamedev-dropdown .closed::before {
  border-left: 10px solid black;
}

/* Mobile Breakpoint */
@media screen and (max-width: 800px) {
  .main {
    padding: 5%;
  }

  section {
    padding: 0;
    margin-bottom: 3em;
    border: none;
    border-top: 5px solid #ffbf10;
  }

  .gamedev-video {
    max-width: 100%;
    padding-bottom: 56.25%;
  }

  .gamedev-nav {
    margin-right: 5%;
  }

  #menu-button {
    border: none;
    display: inline-block;
    margin: .5em 0;
  }

  .theme-change {
    padding: 0;
  }

  .gamedev-nav-links a {
    display: block;
    margin: 1em 0;
  }

  .gamedev-nav-links.desktop {
    display: none;
  }
  
  .gamedev-nav-links.mobile {
    display: block;
  }

  .light-theme footer a {
  	font-weight: normal;
  }
}

/* Header Breakpoint */
@media screen and (max-width: 808px) and (orientation: portrait) {
  .flex-row {
    flex-direction: column;
  }

  .flex-row>*:first-child {
    padding-right: 0%;
  }

  .flex-row>* {
    max-height: 15vh;
  }
  
  .flex-row img {
    max-height: 15vh;
  }
}