/*
 * Globals
 */

body {
  font-family: "corbert_condensedregular", Arial, sans-serif;
  font-weight: normal;
  height: 100%;
  
  background-image: url(./img/triangular.png);
  background-repeat: repeat;
  background-color: black;
  color: #555;
    
  margin-left: auto;
  margin-right: auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "corbert_condensedregular", Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

.Title{
    font-size: 60px;
    font-weight: bold;
    color: #FAFAFA;
    text-shadow: 4px 4px #606060;
}

.MainSub{
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    text-shadow: 2px 3px #606060;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
 * Jumbotron background.
 */
.blog-jbg{
  background: url('./img/gdcHeader.png') repeat-x center center;
  -webkit-filter : contrast(80%);
  -moz-filter    : contrast(80%);
  -o-filter      : contrast(80%);
  -ms-filter     : contrast(80%);
  filter         : contrast(80%);
  position: fixed;
  width: 100%;
  height: 450px; 
  top:0;
  left:0;
  z-index: -1;
}

/*
 * Jumbotron at the top of the page.
 */
.blog-jumbotron {
    margin-bottom: 0px;
    height:450px;
    background:transparent;
}

/*
 * Section container text padding
 */
.jumboText{
    margin-left: auto;
    margin-right: auto;
    padding-top:150px;
    padding-bottom:10px;
    overflow:auto;
    background:transparent;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #292929;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #C0C0C0;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #E9DBBD;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #E9DBBD;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.content{
    width: auto;
    height: auto;
    margin-left:  auto;
    margin-right: auto ;
    padding-right: 100px;
    padding-top: 5px;
    padding-left: 60px;
    /*padding: 10px;*/
    padding-bottom: 80px;
    background-color: white;
    box-shadow: 5px 10px 5px #888888;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
    
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

/* Sidebar modules for boxing content */

.blog-sidebar{
  margin-left: auto;
  margin-right: auto;
}

.sidebar-module {
  padding: 10px;
  /*margin: 0 -15px 15px;*/
  margin-left: auto;
  margin-right: auto;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.wrapper{
 min-height: 100%;
 position: relative;
}

.blog-footer{
  width: 100%;
  height: 80px;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}