<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="ui/logo.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/games.css" rel="stylesheet">

  <title>UMBC Game Developers Club</title>
</head>

<body>

<div id="wrapper">

<div id="header">
  <gamedev-header></gamedev-header>
</div>

<!-- MAIN CONTENT -->
<div id="main" class="hidden"></div>
<div class="main">
<div v-cloak id="all-games">

<button
  v-for="year of years"
  class="year-tab"
  :class="[year==currentYear ? 'year-tab-current' : '']"
  @click="changeYear(year)">
  <h2>{{ year }}</h2>
</button>

<ul v-for="year of years" v-if="year==currentYear" class="year-page">

  <li v-for="game of games[year]" :key="game.id" class="game-card">
    <div class="game-cover-container">
      <div class="game-cover">
      <img
        :src="game.images[0]"
        @click="openGameDisplay(game)">
      </div>
    </div>
  </li>
  <transition name="appear">
    <gamedev-game-display
      v-if="currentGameOpen!=null"
      :game="currentGameOpen"
      @close="closeGameDisplay">
    </gamedev-game-display>
  </transition>

</ul>

</div> <!-- END MAIN CONTENT -->
</div>

<div id="footer">
  <gamedev-footer></gamedev-footer>
</div>

</div>

<script src="js/vue.min.js"></script>
<script src="components/gamedev-game-display.js"></script>
<script src="components/gamedev-template.js"></script>
<script src="games_list.js"></script>
<script src="js/games.js"></script>
</body>

</html>