<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="ui/logo.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300" rel="stylesheet"> 
  <link href="css/main.css" rel="stylesheet">
  <link href="css/games.css" rel="stylesheet">

  <title>UMBC Game Developers Club</title>
</head>

<body>

<header id="header">
  <gamedev-header></gamedev-header>
</header>

<!-- MAIN CONTENT move to components on new fix-->
<div id="main" class="hidden"></div>
<div class="main">
<div v-cloak id="all-games">

<a
  href="#"
  v-for="year of years"
  class="year-tab"
  :class="[year==currentYear ? 'year-tab-current' : '']"
  @click="changeYear(year)">
  {{ year }}
</a>

<div v-for="year of years" v-show="year==currentYear">

  <section v-for="game of games[year]" :key="game.id">

    <h1>{{ game.name }}</h1>
    <p v-if="game.links">Links:
      <a v-for="link of game.links" :href="link[1]">{{ link[0] }}</a>
    </p>

    <p v-if="game.description">{{ game.description }}</p>

    <div
      v-if="game.images"
      v-show="currentImageViewer==game.id"
      class="image-viewer"
      @mouseover="viewerHovered=true"
      @mouseleave="viewerHovered=false">

      <img
        :src="game.images[game.current]"
        class="full-image">
      <img
        src="ui/close_button.png"
        v-show="viewerHovered"
        class="overlay close-button"
        @click="closeImageViewer">
      <img
        src="ui/arrow_left.png"
        v-show="game.images.length > 1 && viewerHovered"
        class="overlay arrow-left"
        @click="showLeft(game)">
      <img
        src="ui/arrow_right.png"
        v-show="game.images.length > 1 && viewerHovered"
        class="overlay arrow-right"
        @click="showRight(game)">

    </div>

    <div v-if="game.images" class="game-thumb-holder">
      <img
        v-for="image, index of game.images"
        :src="image"
        class="game-thumb"
        @click="toggleImageViewer(game, index)">
    </div>

    <p v-if="game.engine">Engine: {{ game.engine }}</p>

    <div v-if="game.roster">
      <p v-if="game.roster.length">Roster:</p>
      <ul>
        <li v-for="person of game.roster">{{ person }}</li>
      </ul>
    </div>

  </section>

</div>

</div> <!-- END MAIN CONTENT -->
</div>

<footer id="footer">
  <gamedev-footer></gamedev-footer>
</footer>

<script src="games_list.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/games.js"></script>
<script src="components/gamedev-template.js"></script>
</body>

</html>