<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="ui/logo.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js"></script>
  <style>
    body {
      background: 
        radial-gradient(at 0% 0%, yellow, transparent 30%),
        linear-gradient(#aaffff, #aaffaa);
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    @media screen and (max-width: 768px), print {
      .hero-body {
        padding: 0;
      }
    }
</style>

  <title>UMBC Game Developers Club</title>
</head>

<body>

<main id="war-game" class="hero is-fullheight container">

<div class="hero-head is-hidden-mobile">
  <div class="has-text-centered" style="padding-top:5em;">
    <h1 class="title is-2">WARHORSE</h1>
    <p class="subtitle">Originally by Professor Dixon</p>
  </div>
</div>

<div class="hero-body">
<div class="container">

<section class="columns is-centered is-vcentered">

  <div v-if="state!=states.combat" class="column is-narrow-tablet">
    <div class="buttons box">
      <button
        class="button is-fullwidth"
        :class="{'is-active': state==states.acquiring}"
        @click="acquireHorse">
        Acquire
      </button>
      <button
        class="button is-fullwidth"
        :class="{'is-active': state==states.train}"
        @click="trainHorses">
        Train
      </button>
      <button
        class="button is-fullwidth"
        :class="{'is-active': state==states.choose || state==states.battle}"
        @click="battle">
        Battle
      </button>
      <button
        v-if="RIPlist.length>0"
        class="button is-fullwidth"
        :class="{'is-active': state==states.rip}"
        @click="state=states.rip">
        RIP
      </button>
    </div>
  </div>

  <div v-if="openStable!=null" class="column">
    <div class="box">
      <h2 class="title is-4">{{ caption }}</h2>
      <div class="card">
        <div class="card-content">
          <horse-list class="horse-list" :stable="openStable"></horse-list>
        </div>
      </div>
    </div>
  </div>

  <div v-if="state==states.acquiring" class="column is-narrow-tablet">
    <div class="box">
      <h2 class="title is-4">What will you name your horse?</h2>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="horse-name">Name:</label>
        </div>
        <div class="field-body field has-addons">
          <p class="control">
          <input
            class="input"
            type="text"
            id="horse-name"
            @keyup.enter="addHorse">
          </p>
          <p class="control">
            <button class="button" @click="addHorse">Get</button>
          </p>
        </div>
      </div>
      <p class="has-text-danger">{{ error }}</p>
    </div>
  </div>

  <div v-if="state==states.combat" class="column">
    <div class="box has-text-centered">
      <p v-for="line of combatLog">{{ line }}</p>
      <button class="button" @click="endCombat">End Combat</button>
    </div>
  </div>

  <div v-if="state==states.rip" class="column">
    <div class="box">
      <h2 class="title">RIP</h2>
      <ul>
        <li v-for="horse of RIPlist">{{ horse }}</li>
      </u>
      <hr>
      <h4 class="subtitle">~You will forever be remembered~</h4>
    </div>
  </div>

</section>

</div>
</div>

<div class="hero-foot is-hidden-mobile">
  <section class="section">
    <p class="subtitle">© 2019</p>
  </section>
</div>

</main>

<script src="js/vue.min.js"></script>
<script src="warhorse/Horse.js"></script>
<script src="warhorse/Main.js"></script>
</body>

</html>