<footer>
    <h1>follow us</h1>
    <hr>
    <div id="social_media">
        <ul>
            <li><a href="email"> <img src="/imgs/mail.png" height="20"> umbcgamedev@gmail.com</a></li>
            <li><a href="twitter"> <img src="/imgs/twitter.png" height="20"> @umbcGameDev</a></li>
            <li><a href="https://www.facebook.com/groups/umbcgamedev/"> <img src="/imgs/facebook.png" height="20"> UMBC Game Developers Club</a></li>
        </ul>
    </div>
    <div id="copyright">
        <p>Copyright text coming soon. Please pardon our dust.</p>
    </div>
</footer>
