<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../ui/logo.ico" type="image/x-icon">
  <link href="../css/main.css" rel="stylesheet">
  <style>
    a {
      margin: 0;
    }
    .blue-theme {
      color: #000055;
      background-color: #88bbee;
    }
    .blue-theme a {
      color: #ccffff;
    }
    .blue-theme button {
      color: #000055;
      font-family: 'Roboto Condensed';
    }
    .blue-theme button p:hover {
      text-decoration: underline;
    }
    .blue-theme section, .blue-theme {
      border-color: #ccffff;
    }
    .blue-theme .gamedev-dropdown .open::before {
      border-top: 10px solid #000055;
    }
    .blue-theme .gamedev-dropdown .closed::before {
      border-left: 10px solid #000055;
    }
    textarea {
      width: 100%;
      height: 10em;
      padding: 1em;
      box-sizing: border-box;
    }
  </style>
  <title>Maintaining the Website</title>
</head>

<body class="blue-theme">

<main role="main" id="main" class="main"> <!--MAIN CONTENT-->

<h1>How to Website</h1>

<button v-for="tab of tabs" :key="tab" @click="currentTab=tab">
  <p v-if="tab==currentTab" style="text-decoration: underline">{{ tab }}</p>
  <p v-else>{{ tab }}</p>
</button>

<div v-show="currentTab=='Update Site'">

<section>
<h2>So you are the webmaster, what do you do</h2>
<p>Everyone gives you stuff and you add it to a JSON file. That's all your duties, other than working with the other officers, so have fun!</p>
<h2>How do I view the site?</h2>
<p>Because stuff is loaded from a JSON file, you have to run some sort of server to view the games page.</p>
<p>One easy way is open a terminal, navigate with <code>cd</code> to the directory, and run <code>python3 -m http.server</code></p>
</section>

<section>
<h2>Updating the Games List (games.json)</h2>
<p>Looking at the existing games in the file should give you a good idea of how to add a game.<p>
<p>The file is split into tabs (for the years), which contain groups of games.</p>
<textarea readonly>
"Tab Name": [
  "Header Name": {
    { name: "Sample Game Title" },
    { name: "Another Game Title" },
  }
]
</textarea>
<p>Tabs can be in any order, because they are automatically sorted by year and then alphabetically. The site will always open to the most recent year.</p>
<p>Whitespace doesn't matter, so you can space out the properties however you want to make it more readable.</p>
</section>

<section>
<h2>List of game properties</h2>
<p>Properties can be listed in any order. Remember to put a comma between each property.</p>
<ul>
<li>name: The title of the game. The only required property.</li>
<li>tagline: A short description of the game.</li>
<li>description: A longer description of the game.</li>
<li>engine: The name of the engine that game was created in.</li>
<li>images: A list containing links/file paths to images of the game. They are displayed in the order you write them in.</li>
<textarea readonly>
images: [
  "images/2018/some-image.png",
  "images/2018/some-other-image.png"
]
</textarea>
<li>links: A list containing link information. They are displayed in the order you write them in. You can add the name of a <a href="https://material.io/resources/icons/">material design icon</a> if you'd like your link to have a different icon next to it.</li>
<textarea readonly>
links: [
  {
    "text":"Some text to appear as the link",
    "href":"https://www.google.com/",
    "icon":"laptop"
  }
]
</textarea>
<li>roster: List of people who worked on the game (credits).</li>
<textarea readonly>
roster: [
  "Me",
  "My friend"
]
</textarea>
</section>

<section>
<h3>Debugging</h3>
<gamedev-dropdown label="If you open the file and there is no content on the page, make sure...">
<ul>
  <li>You remembered to use a server and didn't just double click the file</li>
  <li>There are commas between every entry in the lists</li>
  <li>There are commas between every property</li>
  <li>There are commas between every tab</li>
  <li>All brackets/braces of any kind have a matching end bracket/brace</li>
</ul>
<p>Using some sort of JSON editor or validator may be useful.</p>
</gamedev-dropdown>
<gamedev-dropdown label="If a specific entry you made isn't appearing, make sure...">
<ul>
  <li>You saved the file</li>
  <li>You reloaded the page</li>
  <li>The property name is spelled correctly</li>
  <li>Everything that should be in quotes actually has quotes around it</li>
  <li>Your content is inside the list and not before or after</li>
  <li>If the problem is that the online website doesn't reflect the changes, make sure you actually committed and pushed your changes</li>
</ul>
</gamedev-dropdown>
<p>You can always duplicate an existing game entry to use as a template.</p>
</section>

<section>
  <h3>Updating Vue</h3>
  <p>Vue is included in the repository rather than CDN, so to update it, please download it from CDN. You can find links to the recent files through Vue's <a href="https://vuejs.org/guide/quick-start.html">quick start.</a></p>
</section>

<section>
  <h3>What's this Warhorse thingy?</h3>
  <p>Once upon a time, there was a CMSC 202 project called Warhorse...the person making this website decided to include a js version of said project for memes.</p>
</section>

</div>

<div v-show="currentTab=='Create Pages'">

<h2>You don't need to add pages but if you want to here is a guide</h2>

<section>
<h2>Using Components</h2>
<p>This site currently uses a framework, <a href="https://vuejs.org/">Vue</a>! You only need to know basic html/css (and this guide) to use the components, but if you want to check out Vue, this <a href="https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/">tutorial series</a> is helpful.</p>
<p>Anyway, here's everything you need to know to use the gamedev components.</p>
</section>

<section>
<h2>Setting up a page</h2>
<p>There's a file called <a href="../template.html">template.html</a> that contains the page template with the header, footer, and head tags. Just duplicate it and change the content in the "main" div.</p>
<gamedev-dropdown label="Extended explanation of page content">
  <p>(Hover over lines to show explanation)</p>
  <pre v-for="line in webTemplate" :title="line[1]">{{ line[0] }}</pre>
</gamedev-dropdown>
</section>

<section>
<h2>Using the components</h2>

<p>Components are basically custom html elements, included through scripts. Once you include the template script, they can be used in the #gamedev-root element.</p>

<p>The source files for the components are found in the "components" folder, and they all start with the prefix "gamedev-". Check them out if you're familiar with Vue or just want to look at the html templates and css classes.</p>

<p>To use components, you need 4 things:</p>
<ul>
  <li>Include Vue: The components require Vue to work, so makes sure the page has included vue with:
    <textarea readonly><script src="js/vue.min.js"></script></textarea>
  </li>
  <li>Include the template component: The template component creates a Vue app (necessary to use components). It also includes the header and footer components; they don't need to be included separately.</li>
    <textarea readonly><script src="components/gamedev-template.js"></script></textarea>
  <li>Include the script of the component you want: Each component is contained in a js file that has to be included. Check the <a href="#" @click="currentTab='Component Properties'">full list</a> of which components are in which file.</li>
    <textarea readonly><script src="components/gamedev-some-component.js"></script></textarea>
  <li>Start up the app!</li>
    <textarea readonly><script>app.mount('#gamedev-root')</script></textarea>
</ul>

<p>You can use the components just like you would use a normal html element. For example, you can make a dropdown like this, and it automatically applies the styling and functionality of the dropdown component:</p>
<textarea readonly>
  <gamedev-dropdown label="Example label">
    <p>Some content here!</p>
  </gamedev-dropdown>
</textarea>
<gamedev-dropdown label="Example label">
  <p>Some content here!</p>
</gamedev-dropdown>
<p>Check <a href="#" @click="currentTab='Component Properties'">here</a> to see the properties of the different components/how to use them specifically.</p>
</section>

<section>
<h3>Why didn't you use webpack/vite/something else?</h3>
<p>My main goal was to make the website as easy to edit as possible for someone with knowledge of only html5/css3. With this type of component registration, whoever is maintaining the website just has to include the scripts and then write html with a few extra elements, and there is (hopefully) no confusion over scoped css or the framework itself. This also uses Options API rather than Composition API as it's closer to what is taught in required UMBC CS classes.</p>
<h3>Additional notes</h3>
<p>If you end up inserting content using Vue's "mustaches", remember to include v-cloak on the element so the content won't show until Vue has loaded.</p>
</section>

</div>

<div v-show="currentTab=='Component Properties'">

<h1>List of Components and Properties</h1>
<h3>If you make a new page you might want to use some of these to make your life easier</h3>
<p>Properties in [ ] are optional.</p>
<p>Non-string properties must be listed with a colon in front, like :property="value".</p>

<section> <!--DROPDOWNS-->
<h3>Dropdown</h3>
<gamedev-dropdown label="gamedev-dropdown">
  <p>Creates a button you can click to show more content.</p>
  <p>Properties:</p>
  <ul>
    <li>[open]: <i>true</i> if the dropdown should be open be default.</li>
    <li>label: the text on the dropdown.</li>
  </ul>
  <textarea readonly style="height:15em">
  <gamedev-dropdown :open="true" label="An open tab">
    <p>Some content</p>
  </gamedev-dropdown>

  <gamedev-dropdown label="A closed tab">
    <p>More content</p>
  </gamedev-dropdown>
  </textarea>
  <gamedev-dropdown :open="true" label="An open tab">
    <p>Some content</p>
  </gamedev-dropdown>

  <gamedev-dropdown label="A closed tab">
    <p>More content</p>
  </gamedev-dropdown>
</gamedev-dropdown>

</section> <!--END DROPDOWNS-->

<section> <!--VIDEOS-->
<h3>Video</h3>
<gamedev-dropdown label="gamedev-video">
  <p>Lets you display a youtube video with just a link. Note that if the video is hidden when the page loads, youtube will not supply it with a high-quality thumbnail.</p>
  <p>Properties:</p>
  <ul>
    <li>src: a link to the video.</li>
  </ul>
  <textarea readonly>
<gamedev-video src="https://www.youtube.com/embed/?listType=playlist&list=UUIKfaNXsz7qUd366ayobr-Q"></gamedev-video>
  </textarea>
  <gamedev-video src="https://www.youtube.com/embed/?listType=playlist&list=UUIKfaNXsz7qUd366ayobr-Q"></gamedev-video>
</gamedev-dropdown>
</section> <!--END VIDEOS-->

<section> <!--TEMPLATE-->
<h3>Header and Footer</h3>
<p>The file "gamedev-template.js" contains a lot of components, but the only ones you will likely write on your page are "gamedev-header" and "gamedev-footer".</p>
<gamedev-dropdown label="gamedev-header">
  <p>Inserts the entire header into the page.</p>
</gamedev-dropdown>
<gamedev-dropdown label="gamedev-footer">
  <p>Inserts the footer into the page.</p>
</gamedev-dropdown>
<gamedev-dropdown label="gamedev-nav">
  <p>Included in the header. Edit the "links" in the data if you need to add links to the nav.</p>
</gamedev-dropdown>
<gamedev-dropdown label="gamedev-social">
  <p>Included in the footer. If you need to add a social link, they're in the footer template.</p>
  <p>Properties:</p>
  <ul>
    <li>image: the icon to display next to the link.</li>
    <li>[href]: the address to go to when the link is clicked.</li>
  </ul>
  <textarea readonly style="height:9em">
<gamedev-social
  image="ui/twitter.png"
  href="https://twitter.com/umbcGameDev/">
  @umbcGameDev
</gamedev-social>
  </textarea>
</gamedev-dropdown>
</section> <!--END TEMPLATE-->

<section> <!--GAMES-->
  <h3>Game Display</h3>
  <gamedev-dropdown label="gamedev-games-list">
    <p>Displays the list of all the games for the games page. This is where you'll have to check if you want to redo the layout.</p>
  </gamedev-dropdown>
  <gamedev-dropdown label="gamedev-game-display">
    <p>Displays a single game's card in the middle of the screen. Included as part of the games page.</p>
    <p>Properties:</p>
    <ul>
      <li>game: a game object (see 'Update Games List' for more info).</li>
    </ul>
  </gamedev-dropdown>
  <gamedev-dropdown label="gamedev-image-viewer">
    <p>It is included in the gamedev-game-display component. It's pretty specific, so it would be advisable not to use the gamedev-image-viewer for anything else.</p>
    <p>Properties:</p>
    <ul>
      <li>images: an array of images.</li>
    </ul>
  </gamedev-dropdown>
</section> <!--END GAMES-->

<section> <!--EVENTS-->
  <h3>Events</h3>
  <gamedev-dropdown label="gamedev-events">
    <p>Pulls a list of events from the club's myUMBC page. Uses <a href="https://my3.my.umbc.edu/groups/myumbc/files">https://my3.my.umbc.edu/groups/myumbc/files</a> through <a href="https://apps.sga.umbc.edu/api-docs/">https://apps.sga.umbc.edu/api-docs/</a>.</p>
    <p>Properties:</p>
    <ul>
      <li>feed: the events feed to get.</li>
      <li>[no-posts]: text to display if there are no events.</li>
      <li>[thumb-size]: large by default.</li>
    </ul>
  </gamedev-dropdown>
</section> <!--END EVENTS-->

<section> <!--GAMES SAMPLE-->
  <h3>Games Sample</h3>
  <gamedev-dropdown label="gamedev-games-sample">
    <p>Fetches all games that have imges from each section of the most recent year. Displays the title and first image. Starts at a random game and cycles through in order.</p>
  </gamedev-dropdown>
</section> <!--END GAMES SAMPLE-->

</div>

</main> <!--END MAIN CONTENT-->

<script src="../js/vue.min.js"></script>
<script src="readme.js"></script>
<script src="../components/gamedev-dropdown.js"></script>
<script src="../components/gamedev-video.js"></script>
<script>app.mount('#main');</script>
</body>

</html>